#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use text install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=gb --xlayouts='gb'
# System language
lang en_GB.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=fedora23-vbox.localdomain
firewall --enable --ssh
# Installation URL
url --url http://mirror.bytemark.co.uk/fedora/linux/releases/23/Everything/x86_64/os
# Root password
rootpw --iscrypted $6$jl2sf48UOUgRC4a4$3l0rKG3LeRn4yVMSVD57qwbXCX5QiiT9tQHW48AEr.7IZiAyKSB3m60RZeBEn4EAKGJlUbeMVek2PaxYHDgRX.
# System timezone
timezone Europe/London --isUtc
user --groups=wheel --name=vagrant --password=$6$nUkyshZHzir13X2X$Lo1khFvOW5WaQHoY4qa6UQtZQIttYSDKsvq6agsoySGfmwegxH9ud40E6ykozAuW8dNqGveWhBANYBF/I4MoC1 --iscrypted --gecos="vagrant"
# X Window System configuration information
xconfig --startxonboot
# System bootloader configuration
zerombr
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partition
part / --fstype="xfs" --ondisk=sda --size=1 --grow

%packages
@^workstation-product-environment
-*-firmware
%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end

# Run the post install configuration which allows:
# vagrant no password sudo
# install latest RPMs
# remove older kernel
%post
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
echo "Defaults:vagrant !requiretty"                 >> /etc/sudoers.d/vagrant
/bin/chmod 0440 /etc/sudoers.d/vagrant
/usr/bin/systemctl enable sshd
/usr/bin/dnf -y update
/usr/bin/rm -fr /var/lib/dnf/history/*
%end

# Reboot after installation
reboot --kexec
